
<h2>Create A New Meal</h2>
<form method = "post" action = "/meals">
    <label>Meal Name: </label>
    <input type = "text" name = "name" id ="name"><br><br>
    <label>Meal Description: </label>
    <input type = "text" name = "description" id = "description"><br><br>
    <label>Meal Calories: </label>
    <input type = "integer" name = "calories" id = "calories"><br><br>
    <label>Meal Date: </label>
    <input type = "date" name = "date" id = "date">
    <br><br>
    <input type = "submit" value = "Create Meal">
</form>