<div>
    <div>
    <header><img src="images/food1.jpg"></header>

    <div>
      <h4>Welcome to the Food Journal!</h4>

      <p>If you're a new user, please <b><a href="/signup">Sign Up</a></b> to start a new food journal.</p>
      <p>If you're a returning user, please <b><a href="/login">Log In</a></b> to access your food journal.</p>

    </div>