<div>
    <div>

    <div>
      <h1>Welcome to the Food Journal!</h1>

      <p>A handy application to help you keep track of the food you eat!
      Sign up to get started or log in to make a new record or edit your food jorunal.</p>
      <p>Here's to your health!</p>
      

    </div>