


<h2>Log In to View Your Meal Journal</h2>

<form method ="post" action = "/login">
    <label>Username: </label>
    <input type = "text" name = "username" id = "username">
    <br><br>
    <label>Password: </label>
    <input type = "password" name = "password" id = "password">
    <br><br>
    <input type = "submit" value= "Log In">
    </form>
<br>
If you don't have an account yet please <a href ="/signup">Sign Up.</a> 
<br><br>
