<h1>Sign Up!</h1>


<% if flash.has?(:sign_up_alert) %>
<p style="color: red;"><b><%= flash[:sign_up_alert] %></b></p>
<% end %>



<h3>To create a new food journal please fill out and submit the following information.</h3>
<form action = "/signup" method = "POST">
    <label>Username: </label>
    <input type = "text" name = "username" id = "username">
    <br><br>
    <label>Email: </label>
    <input type = "text" name = "email" id = "email">
    <br><br>
    <label>Password: </label>
    <input type = "text" name = "password" id = "password">
    <br><br>
    <input type = "submit" value = "Submit">

</form>